[Unit]
Description=Start all LXC containers
After=lxc.service

[Service]
ExecStart=/usr/bin/lxc-autostart
ExecStop=/root/cluster-setup-script/lxc-shutdown
Restart=always

[Install]
WantedBy=multi-user.target
